/* -------------------------------------------- */
/*--Area de Body y Funcionalidad para Moviles--*/
/* Tamaño y Color de Fondo */
body {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

/* Pequeño Normalice 1 */
*,
::before,
::after {
  box-sizing: border-box;
}

/* Pequeño Normalice 2 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Escalas para Moviles */
@media screen and (min-width: 300px) and (max-width: 800px) {
  body {
    font-size: 0.8em;
  }

  sidebar {
    display: none;
  }
}

/* -------------------------- */
/*--Area de Titulos y Demas--*/
/* Contenedor de Contenido de la Pagina */
.contenedor {
  padding: 60px 0;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

/* Titulos Principales de la Pagina Index/Laptos/Productos/Usuarios */
.titulo {
  color: #1d9dcc;
  font-size: 30px;
  font-family: Lugrasimo-Regular;
  text-align: center;
  margin-bottom: 60px;
}

/* --------------------------------------------- */
/*--Efectos para la Pagina Img/Enlaces/Titulos--*/
/* Efecto Barra de Navegacion */
nav a:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1);
  color: rgba(202, 30, 73, 0.877);
  border-bottom: 1px solid rgba(202, 30, 73, 0.877);
}

nav summary:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1);
  color: rgba(202, 30, 73, 0.877);
  border-bottom: 1px solid rgba(202, 30, 73, 0.877);
}

/* Efectos de los Contenedores solo para Enlaces */
.contenido-textos a:hover {
  -webkit-transform: scale(4.3);
  transform: scale(1.3);
  color: rgba(202, 30, 73, 0.877);
}

/* Efecto Titulos Mayores de la Pagina Index/Laptos/Productos */
.textos-header h1:hover {
  -webkit-transform: scale(0.3);
  transform: scale(1);
  color: rgba(202, 30, 73, 0.877);
}

/* Efecto Titulo Segundario para Usuario */
.titulo-usuario:hover {
  -webkit-transform: scale(0.3);
  transform: scale(1);
  color: rgba(202, 30, 73, 0.877);
}

/* Efecto para las Img */
img:hover {
  filter: brightness(0.8);
}

/* -------------------------------------- */
/*--Barra de Navegacion y Textos Header--*/
/* Header Posicion/Tamaño/Img */
header {
  width: 100%;
  height: 760px;
  min-height: 600px;
  max-height: 800px;
  background: linear-gradient(180deg, #0000008c 0%, #0000008c 100%),
    url(../imagenes/laptos/lapto3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: grid;
  grid-template-rows: 100px;
}

/* Navegacion */
.nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Parte del Logo Nav */
.nav__title {
  height: 117px;
  width: 190px;
  float: left;
  margin-left: 40px;
}

/* Contenedor de Nav ul */
.nav__link {
  margin-left: auto;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 15px;
}

/* Enlaces li */
.nav__items {
  list-style: none;
}

/* Enlaces o Secciones de la Barra Index/Laptos/Productos/Usuarios a */
.nav__links {
  color: #fff;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  transition: 0.2s ease;
}

/* Menu Para Moviles Solo para La Img Menu */
.nav__menu {
  margin-left: auto;
  cursor: pointer;
  display: none;
  margin-right: 10px;
}

/* Contenedor para el Menu Desplegable */
.nav__items_conteiner {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

/* Para la Parte de la Opcion a Desplegar */
.nav__items_conteiner a,
summary {
  color: #fff;
  margin-right: 20px;
  font-size: 15px;
}

/* Contenedor para las Opciones Desplegables */
.nav__items_categorias {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
}

/* Para que Pueda Desplegar el Usuario */
.nav__items_conteiner:hover .nav__items_categorias {
  display: block;
}

/* Enlaces de Opcion Desplegable Cerrar Sesion/Iniciar Sesion/Usuario Activo */
.nav__items_categorias a {
  font-size: 15px;
  display: block;
  color: #fff;
  text-decoration: none;
}

/* Img del Menu Desplegable Abrir */
.nav__img {
  display: block;
  width: 30px;
}

/* Img del Menu Desplegable Salir */
.nav__close {
  display: var(--show, none);
}

/* Textos Principales del Header */
header .textos-header {
  display: flex;
  height: 390px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

/* Titulo Principal Header */
.textos-header h1 {
  font-size: 50px;
  font-family: Anders;
  color: #fff;
  margin: 2px;
}

/* Titulo Segundario del Header */
.textos-header h2 {
  font-size: 22px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  padding: 14px;
  color: #fff;
}

/* Wales o Olas de la Pagina usada para Saltos de Contenido Position Abajo */
.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Wales o Olas de la Pagina usada para Saltos de Contenido Position Arriba */
.wave2 {
  position: relative;
  bottom: 0;
  width: 100%;
}

/* -------------------------------------- */
/*--Pequeña Presentacion de Productos en el Index--*/
/* Contenedor de los Productos del Index Dimensiones */
main .sobre-nosotros {
  padding: 30px 0 60px 0;
}

/* Fondo de los Contenedores de Prodcutos Index */
.fondo {
  background-color: #f2f2f2;
}

/* Contenedor de Productos Index Img/Enlaces/Info */
.contenedor-sobre-nosotros {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
  max-height: none;
  font-family: Finlandica-Italic-VariableFont_wght;
  background-color: #ffffff;
  border: 2px solid #46a2fd;
  border-radius: 10px;
  padding: 12px;
  color: #ffffff;
}

/* Efecto de Imagenes de Productos Index */
.contenedor-sobre-nosotros img:hover {
  transform: scale(1.02);
}

/* Dimensiones de Img para Productos del Index */
.imagen-about-us {
  width: 48%;
}

/* Dimensiones de los Textos de Productos del Index */
.sobre-nosotros .contenido-textos {
  width: 48%;
}

/* Titulos Principales de Productos Index */
.contenido-textos h3 {
  color: #fff;
  margin-bottom: 15px;
  font-family: Lugrasimo-Regular;
  background: #46a2fd;
  border-radius: 200px;
}

/* Ciruclo con Numero de Prodcutos Index */
.contenido-textos h3 span {
  background: rgba(0, 128, 255, 0.808);
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  padding: 2px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  margin-right: 5px;
}

/* Titulos Segundarios y Enlaces de Productos Index */
.contenido-textos p,
a {
  padding: 0px 0px 30px 15px;
  font-weight: 300;
  text-align: justify;
  font-size: 20px;
  padding: 5px;
  text-decoration: none;
  font-family: Finlandica-Italic-VariableFont_wght;
  color: #070606;
}

/* Color del Enlace de Prodcutos Index */
.contenido-textos a {
  color: rgba(0, 128, 255, 0.808);
}

/* ------------------------------------------------- */
/*--Ofrecer los Servicios de Tempus Index/Usuarios--*/
/* Contenedor y Fondo de los Servicios Tempus */
.about-services {
  padding-bottom: 20px;
  background-color: #ffffff;
}

/* Dimensiones/Position/Fondo.. el Contenedor de Servicios Tempus */
.servicio-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 1px;
  max-height: none;
  font-family: Finlandica-Italic-VariableFont_wght;
  background-color: #ffffff;
  border: 2px solid #46a2fd;
  border-radius: 10px;
  padding: 12px;
}

/* Contenedor de Cada Servicio Tempus Img/Textos/Enlaces */
.servicio-ind {
  width: 32%;
  font-size: 15px;
  text-align: center;
  margin: 12px;
  font-family: Lugrasimo-Regular;
  color: rgba(0, 128, 255, 0.5);
}

/* Img de Servicios Tempus */
.servicio-ind img {
  width: 75%;
}

/* Titulo Principal de cada Servicio de Servicios Tempus */
.servicio-ind h3 {
  margin: 10px;
  padding: 4px;
}

/* Titulo Segundario/Enlaces de cada Servicio de Servicios Tempus */
.servicio-ind p,
a {
  text-decoration: none;
  font-weight: 300;
  padding: 5px;
  font-size: 17px;
  text-align: justify;
  color: #070606;
  font-family: Finlandica-Italic-VariableFont_wght;
}

/* Efecto de Enlaces de Servicios Tempus */
.servicio-ind a:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  color: rgba(202, 30, 73, 0.877);
}

/* ------------------------------------------------- */
/*--Parte Final de la Pagina Footer--*/
/* Contenedor Principal del Footer Position/Fondo */
footer {
  background: #413e41;
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
}

/* Contenedor Segundario del Footer */
.contenedor-footer {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}

/* Contenedor usado para Todos los Sectores del Footer */
.content-foo {
  text-align: center;
  font-family: Lugrasimo-Regular;
  font-size: 15px;
}

/* Titulos/Enlaces del Footer */
.content-foo h4 {
  color: #f2f2f2;
  border-bottom: 3px solid rgba(0, 128, 255, 0.5);
  padding-bottom: 5px;
  margin-bottom: 10px;
}

/* Titulos Segundarios del Footer */
.content-foo p {
  color: #f2f2f2;
}

/* Titulo Final del Footer Empresa y Derechos Autor */
.titulo-final {
  text-align: center;
  font-size: 16px;
  margin: 12px 0 0 0;
  color: #f2f2f2;
  font-family: Anders;
}

/* Enlaces del Footer */
.content-foo a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
}

/* Boton de Iniciar Sesion del Footer */
.content-foo .enlaces a {
  background-color: #1a73cc;
  padding: 15px 25px;
  text-decoration: none;
  color: #fff;
  font-family: Lugrasimo-Regular;
  font-size: 16px;
  animation: parpadeo 2.5s linear infinite;
  border: 2px solid #1a73cc;
  transition: 0.5s ease;
}

@keyframes parpadeo {
  0%,
  41%,
  45%,
  47%,
  49.5%,
  100% {
    opacity: 1;
  }

  42%,
  44%,
  46%,
  48%,
  50% {
    opacity: 0;
  }
}

/* Efecto para el Boton de Inicio de Sesion del Footer */
.content-foo .enlaces a:hover {
  background-color: rgba(0, 128, 255, 0.5);
  padding: 15px 25px;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  color: white;
  animation: none;
}

/* Efecto para los Enlaces del Footer */
.content-foo a:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  color: rgba(202, 30, 73, 0.877);
  padding: 5px;
}

/* ------------------------------------------------- */
/*--Mas Importante para Adaptar a Moviles y Tables--*/
/* Medida N°1 Moviles */
@media screen and (max-width: 900px) {
  /* Position el Fondo del Header */
  header {
    background-position: center;
  }

  /* Contendor Principal de Servicios Tempus Ajustar Servicios */
  .servicio-cont {
    justify-content: center;
    flex-direction: column;
  }

  /* Ajustar para Adaptar a Moviles Porductos Index */
  .contenedor-sobre-nosotros {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Dimensiones para Productos Index Solo Enlaces/Info */
  .sobre-nosotros .contenido-textos {
    width: 90%;
  }

  /* Tamaño de la Img en los Productos Index */
  .imagen-about-us {
    width: 90%;
  }

  /* Dimensiones y Tamaño para el Mapa en Movil */
  .ubicacion-mapa {
    padding: 12px;
    margin: 20px;
  }

  /* Contendor Segundario de Servicios Tempus Ajustar cada Servicio */
  .servicio-ind {
    width: 100%;
    text-align: center;
  }

  /* Agarra los Hermanos del Contenedor de cada Servicio de Servicios Tempus */
  .servicio-ind:nth-child(1),
  .servicio-ind:nth-child(2) {
    margin-bottom: 60px;
  }

  /* Ajusta las Imagenes de Servicios Tempus */
  .servicio-cont-image img {
    width: 50%;
    padding: 12px;
  }
}

/* ------------------------------------------------- */
/*--Mas Importante para Adaptar a Moviles y Tables--*/
/* Medida N°2 Moviles */
@media screen and (max-width: 600px) {
  /* Adapta Tamaño Pantalla de Navegacion */
  .nav__menu {
    display: block;
  }

  .nav__link {
    overflow: scroll;
  }

  /* Adaptar los Enlaces a Moviles */
  .nav__link--menu a,
  summary {
    border-bottom: 3.5px solid rgba(0, 128, 255, 0.5);
    padding-bottom: 1px;
    margin-bottom: 10px;
  }

  /* Adaptar la Barra de Navegacion a Moviles */
  .nav__link--menu {
    position: fixed;
    background-color: #413e41;
    top: 0;
    left: 0;
    margin-top: 1.5%;
    margin-left: 53.5%;
    height: 90%;
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: 0.7s opacity;
  }

  /* Animacion del Nav desde ul */
  /* Anmacion al Js Acciones */
  .nav__link--show {
    --show: block;
    opacity: 1;
    pointer-events: unset;
  }

  /* Opcion o Img de Salir de la Barra de Navegacion */
  .nav__close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer;
  }

  /* Ajuste y Acomodo del Titulo Principal de la Pagina */
  .textos-header h1 {
    font-size: 28px;
    padding: 1px;
  }

  /* Ajuste y Acomodo del Titulo Segundario de la Pagina */
  .textos-header h2 {
    font-size: 16px;
  }

  /* Ajuste de las Imagenes de Productos Index */
  .imagen-about-us {
    margin-bottom: 60px;
    width: 99%;
  }

  /* Ajuste de los Titulos/Enlaces/Info de Productos Index */
  .sobre-nosotros .contenido-textos {
    width: 95%;
  }

  /* Ajuste del Contenedor Mayor del Footer */
  .contenedor-footer {
    flex-direction: column;
    border: none;
  }

  /* Ajuste del Contenedor para Cada Categoria del Footer */
  .content-foo {
    margin-bottom: 20px;
    text-align: center;
  }

  /* Ajuste de los Titlos Principales del Footer */
  .content-foo h4 {
    border: none;
  }

  /* Ajuste de la Info/Enlaces del Footer */
  .content-foo p {
    color: #f2f2f2;
    border-bottom: 1px solid rgba(0, 128, 255, 0.808);
    padding-bottom: 20px;
  }

  /* Ajuste del Titulo Principal y Final del Footer */
  .titulo-final {
    font-size: 20px;
  }
}


.go-top-container {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 55px;
  height: 55px;
  z-index: -1;
}

.go-top-button {
  background: rgba(0, 128, 255, 0.5);
  border-radius: 8%;
  cursor: pointer;
  transition: 0.6s;
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.go-top-button:hover{
  background-color: rgba(66, 70, 75, 0.5);
}

.go-top-button i {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: #fff;
  transition: 0.5s;
}

.show {
  z-index: 10;
}

.show .go-top-button {
  animation: popup 2.6s ease-in-out;
  width: 55px;
  height: 55px;
  z-index: 11;
}

.show i {
  transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
  0% {
      width: 0;
      height: 0;
  }
  50% {
      width: 70px;
      height: 70px;
  }
  100% {
      width: 55px;
      height: 55px;
  }
}
