/*------------------------------------------*/
/*Area de Body y Funcionalidad para Moviles*/
/*----------------------------------------*/

body {
  width: 100%;
  height: 100%;
  background-color: #f3f1f1;
}


*,
::before,
::after {
  box-sizing: border-box;
}

@media screen and (min-width: 300px) and (max-width: 800px) {
  body {
    font-size: 0.8em;
  }

  sidebar {
    display: none;
  }
}


/*----------------------*/
/*Area de Inicio Pagina*/
/*--------------------*/

.contenedor {
  padding: 60px 0;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.titulo {
  color: #1d9dcc;
  font-size: 30px;
  font-family: Lugrasimo-Regular;
  text-align: center;
  margin-bottom: 60px;
}

/*-----------------------*/
/*Area de Efectos Pagina*/
/*---------------------*/

nav a:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1);
  color: rgba(202, 30, 73, 0.877);
  border-bottom: 1px solid rgba(202, 30, 73, 0.877);
}

.contenido-textos a:hover {
  -webkit-transform: scale(4.3);
  transform: scale(1.3);
  color: rgba(202, 30, 73, 0.877);
}

.textos-header h1:hover {
  -webkit-transform: scale(0.3);
  transform: scale(1);
  color: rgba(202, 30, 73, 0.877);
}

img:hover {
  filter: blur(3px);
}

/*-------------------------------*/
/*Area de la Barra de Navegacion*/
/*-----------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  width: 100%;
  height: 720px;
  min-height: 600px;
  max-height: 800px;
  background: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(../imagenes/laptos/lapto3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: grid;
  grid-template-rows: 100px;
}


.nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__title {
  height: 117px;
  width: 190px;
  float: left;
  margin-left: 40px;
}

.nav__link {
  margin-left: auto;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 15px;
}

.nav__items {
  list-style: none;
}

.nav__links {
  color: #fff;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

.nav__menu {
  margin-left: auto;
  cursor: pointer;
  display: none;
  margin-right: 10px;
}

/*Menu Desplegable*/
.nav__items_conteiner {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.nav__items_conteiner li,
li a {
  color: #fff;
  text-decoration: none;
  align-items: center;
  margin-right: 10px;
}

.nav__items_categorias {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
}

.nav__items_conteiner:hover .nav__items_categorias {
  display: block;
}

.nav__items_categorias a {
  font-size: 15px;
  display: block;
  color: #fff;
  padding: 16px;
  text-decoration: none;
}

/*Fin*/

.nav__img {
  display: block;
  width: 30px;
}

.nav__close {
  display: var(--show, none);
}

header .textos-header {
  display: flex;
  height: 390px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.textos-header h1 {
  font-size: 50px;
  font-family: Anders;
  color: #fff;
  margin: 2px;
}

.textos-header h2 {
  font-size: 22px;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
  padding: 14px;
  color: #fff;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}


/*-------------------------------*/
/*Area de Producto Inicio Pagina*/
/*-----------------------------*/

main .sobre-nosotros {
  padding: 30px 0 60px 0;
}

.contenedor-sobre-nosotros {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
  max-height: none;
  font-family: Finlandica-Italic-VariableFont_wght;
  background-color: #ffffff;
  border: 2px solid #46A2FD;
  border-radius: 10px;
  padding: 12px;
  color: #ffffff;
}

.contenedor-sobre-nosotros img:hover{
  transform: scale(1.02);
}

.imagen-about-us {
  width: 48%;
}

.ubicacion-mapa img {
  width: 99%;
  padding: 5px;
}

.sobre-nosotros .contenido-textos {
  width: 48%;
}

.contenido-textos h3 {
  color: #fff;
  margin-bottom: 15px;
  font-family: Lugrasimo-Regular;
  background: #46A2FD;
  border-radius: 200px;
}

.contenido-textos h3 span {
  background: rgba(0, 128, 255, 0.808);
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  padding: 2px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
  margin-right: 5px;
}

.contenido-textos p,
a {
  padding: 0px 0px 30px 15px;
  font-weight: 300;
  text-align: justify;
  font-size: 20px;
  padding: 5px;
  text-decoration: none;
  font-family: Finlandica-Italic-VariableFont_wght;
  color: #070606;
}

.contenido-textos a {
  color: rgba(0, 128, 255, 0.808);
}

/*--------------------------*/
/*Area de Ofrecer Servicios*/
/*------------------------*/

.about-services {
  padding-bottom: 20px;
  background-color: #ffffff;
}

.servicio-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 1px;
    max-height: none;
    font-family: Finlandica-Italic-VariableFont_wght;
    background-color: #ffffff;
    border: 2px solid #46A2FD;
    border-radius: 10px;
    padding: 12px;
}

.servicio-ind {
  width: 32%;
  font-size: 15px;
  text-align: center;
  margin: 12px;
  font-family: Lugrasimo-Regular;
  color: rgba(0, 128, 255, 0.5);
}

.servicio-ind img {
  width: 75%;
}

.servicio-ind h3 {
  margin: 10px;
  padding: 4px;
}

.servicio-ind p,
a {
  text-decoration: none;
  font-weight: 300;
  padding: 5px;
  font-size: 17px;
  text-align: justify;
  color: #070606;
  font-family: Finlandica-Italic-VariableFont_wght;
}

.servicio-ind a:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  color: rgba(202, 30, 73, 0.877);
}


@media screen and (max-width:900px) {
  header {
    background-position: center;
  }

  /* servicios */

  .servicio-cont {
    justify-content: center;
    flex-direction: column;
  }

  .servicio-ind {
    width: 100%;
    text-align: center;
  }

  .servicio-ind:nth-child(1),
  .servicio-ind:nth-child(2) {
    margin-bottom: 60px;
  }

  .servicio-cont-image img {
    width: 50%;
  }
}

/*----------------*/
/*Area del Footer*/
/*--------------*/

footer {
  background: #413e41;
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
}

.contenedor-footer {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}

.content-foo {
  text-align: center;
  font-family: Lugrasimo-Regular;
  font-size: 15px;
}

.content-foo h4 {
  color: #f2f2f2;
  border-bottom: 3px solid rgba(0, 128, 255, 0.5);
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.content-foo p {
  color: #f2f2f2;
}

.titulo-final {
  text-align: center;
  font-size: 16px;
  margin: 12px 0 0 0;
  color: #f2f2f2;
  font-family: Anders;
}

.content-foo a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
}

.content-foo .enlaces a {
  text-decoration: none;
  color: #fff;
  font-family: Lugrasimo-Regular;
  font-size: 16px;
}

.content-foo .enlaces a {
  background-color: rgba(0, 128, 255, 0.5);
  color: white;
  padding: 15px 25px;
  text-decoration: none;
}

.content-foo .enlaces a:hover {
  background-color: #1a73cc;
  padding: 15px 25px;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  color: white;
}

.content-foo a:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  color: rgba(202, 30, 73, 0.877);
  padding: 5px;
}

.wave2 {
  position: relative;
  bottom: 0;
  width: 100%;
}

/*-----------------------------------*/
/*Area de Todo Inicio, Menu y Footer*/
/*---------------------------------*/

@media screen and (max-width:900px) {
  header {
    background-position: center;
  }

  .contenedor-sobre-nosotros {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sobre-nosotros .contenido-textos {
    width: 90%;
  }

  .imagen-about-us {
    width: 90%;
  }

  .ubicacion-mapa img {
    width: 100%;
    height: 100%;
    margin: 2px;
  }

  /* Galeria */

  .imagen-port {
    width: 44%;
  }

  /* servicios */

  .servicio-cont {
    justify-content: center;
    flex-direction: column;
  }

  .servicio-ind {
    width: 100%;
    text-align: center;
  }

  .servicio-ind:nth-child(1),
  .servicio-ind:nth-child(2) {
    margin-bottom: 60px;
  }

  .servicio-cont-image img {
    width: 50%;
    padding: 12px;
  }
}

@media screen and (max-width:600px) {
  .nav__menu {
    display: block;
  }

  .nav__link--menu a {
    border-bottom: 3px solid rgba(0, 128, 255, 0.5);
    padding-bottom: 5px;
    margin-bottom: 10px;
  }

  .nav__link--menu {
    position: fixed;
    background-color: #413e41;
    top: 0;
    left: 0;
    margin-left: 40%;
    height: 80%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: .7s opacity;
  }

  .nav__link--show {
    --show: block;
    opacity: 1;
    pointer-events: unset;
  }

  .nav__close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer;
  }

  .textos-header h1 {
    font-size: 28px;
    padding: 1px;
  }

  .textos-header h2 {
    font-size: 16px;
  }

  /* ABOUT US */

  .imagen-about-us {
    margin-bottom: 60px;
    width: 99%;
  }

  .imagen-about-ubicacion {
    margin-bottom: 60px;
    width: 99%;
  }

  .sobre-nosotros .contenido-textos {
    width: 95%;
  }

  /* Footer */

  .contenedor-footer {
    flex-direction: column;
    border: none;
  }

  .content-foo {
    margin-bottom: 20px;
    text-align: center;
  }

  .content-foo h4 {
    border: none;
  }

  .content-foo p {
    color: #f2f2f2;
    border-bottom: 1px solid rgba(0, 128, 255, 0.808);
    padding-bottom: 20px;
  }

  .titulo-final {
    font-size: 20px;
  }
}


.botones-secciones h2 a {
  background-color: #1a73cc;
  color: white;
  padding: 20px;
  text-decoration: none;
  margin: 12px;
  font-size: 15px;
  font-family: Lugrasimo-Regular;
}

.botones {
  display: flex;
  text-align: center;
  justify-content: center;
}

.botones a:hover {
  background-color: rgba(0, 128, 255, 0.808);
  padding: 21px;
  -webkit-transform: scale(4.3);
  transform: scale(1.3);
  color: white;
}

@media screen and (max-width:600px) {
  .botones-secciones h2 a {
    text-decoration: none;
    margin: 2px;
    font-size: 12px;
  }

  .botones {
    display: block;
    padding: 12px 25px;
    text-decoration: none;
    text-align: center;

  }


}