/* -------------------------------------------------- */
/* Donde se Declaran las Fuentes a Usar todo Offline */
@font-face {
  font-family: Righteous-Regular;
  src: url(../fuentes/Righteous-Regular.ttf);
}

@font-face {
  font-family: PermanentMarker-Regular;
  src: url(../fuentes/PermanentMarker-Regular.ttf);
}

@font-face {
  font-family: Anders;
  src: url(../fuentes/Anders.ttf);
}

@font-face {
  font-family: Alegreya;
  src: url(../fuentes/Alegreya.ttf);
}

@font-face {
  font-family: Finlandica-Italic-VariableFont_wght;
  src: url(../fuentes/Finlandica-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: PlayfairDisplay-Italic-VariableFont_wght;
  src: url(../fuentes/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: Lugrasimo-Regular;
  src: url(../fuentes/Lugrasimo-Regular.ttf);
}

@font-face {
  font-family: Roboto-Italic;
  src: url(../fuentes/Roboto-Italic.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(../fuentes/Poppins.ttf);
}

@font-face {
  font-family: Open Sans;
  src: url(../fuentes/Open\ Sans.ttf);
}