/* Slider de los Clientes solo de 6 Img */
/* Estructura en General */
.slider-automatico {
  position: relative;
  width: 93%;
  margin: auto;
  padding: 20px;
  height: 600px;
  overflow: hidden;
}

/* Estructura de las Img */
.slides {
  display: flex;
  width: 600%;
  height: 100%;
  transition: transform 0.5s ease;
  animation: rotacion 30s infinite;
}

/* Estructura de Cada Img */
.slide-2 {
  width: 60.666%;
  height: 100%;
  margin: 20px;
  background-position: center;
  background-size: cover;
  background-color: #ffffff;
  border: 2px solid #46A2FD;
  color: #ffffff;
}

/* Declaracion de Imagenes Pc */
.slide1 {
  background-image: url(../imagenes/slider/cliente1-pc.jpg);
}

.slide2 {
  background-image: url(../imagenes/slider/cliente2-pc.jpeg);
}

.slide3 {
  background-image: url(../imagenes/slider/cliente3-pc.jpeg);
}

.slide4 {
  background-image: url(../imagenes/slider/cliente4-pc.jpeg);
}

.slide5 {
  background-image: url(../imagenes/slider/cliente5-pc.jpg);
}

.slide6 {
  background-image: url(../imagenes/slider/cliente6-pc.png);
}

/* Declaracion de Imagenes Movil */
@media screen and (max-width:500px) {
  .slide1 {
    background-image: url(../imagenes/slider/cliente1-movil.jpeg);
  }

  .slide2 {
    background-image: url(../imagenes/slider/cliente2-movil.jpeg);
  }

  .slide3 {
    background-image: url(../imagenes/slider/cliente3-movil.jpeg);
  }

  .slide4 {
    background-image: url(../imagenes/slider/cliente4-movil.png);
  }

  .slide5 {
    background-image: url(../imagenes/slider/cliente5-movil.jpeg);
  }

  .slide6 {
    background-image: url(../imagenes/slider/cliente6-movil.jpg);
  }

}

/* Animacion Infinita */
@keyframes rotacion {
  0% {
    margin-left: 0;
  }

  17% {
    margin-left: 0;
  }

  18% {
    margin-left: -100%;
  }

  33% {
    margin-left: -100%;
  }

  34% {
    margin-left: -200%;
  }

  49% {
    margin-left: -200%;
  }

  50% {
    margin-left: -300%;
  }

  66% {
    margin-left: -300%;
  }

  67% {
    margin-left: -400%;
  }

  83% {
    margin-left: -400%;
  }

  84% {
    margin-left: -500%;
  }

  100% {
    margin-left: -500%;
  }
}