.slider-automatico {
  position: relative;
  width: 90%;
  margin: 5%;
  height: 590px;
  overflow: hidden;
}

.slides {
  display: flex;
  width: 600%;
  height: 100%;
  transition: transform 0.5s ease;
  animation: rotacion 30s infinite;
}

.slide-2 {
  width: 60.666%;
  height: 100%;
  margin: 12px;
  background-position: center;
  background-size: cover;
  border: 6px solid #413e41;
}

.slide1 {
  background-image: url(../imagenes/slider/cliente2.jpg);
}

.slide2 {
  background-image: url(../imagenes/slider/cliente1.jpg);
}

.slide3 {
  background-image: url(../imagenes/slider/cliente4.jpg);
}

.slide4 {
  background-image: url(../imagenes/slider/lapto1.jpg);
}

.slide5 {
  background-image: url(../imagenes/slider/lapto2.jpg);
}

.slide6 {
  background-image: url(../imagenes/slider/lapto4.jpg);
}


@keyframes rotacion {
  0% {
    margin-left: 0;
  }

  17% {
    margin-left: 0;
  }

  18% {
    margin-left: -100%;
  }

  33% {
    margin-left: -100%;
  }

  34% {
    margin-left: -200%;
  }

  49% {
    margin-left: -200%;
  }

  50% {
    margin-left: -300%;
  }

  66% {
    margin-left: -300%;
  }

  67% {
    margin-left: -400%;
  }

  83% {
    margin-left: -400%;
  }

  84% {
    margin-left: -500%;
  }

  100% {
    margin-left: -500%;
  }
}