.slider-automatico {
  position: relative;
  width: 90%;
  margin: 5%;
  height: 600px;
  overflow: hidden;
}

.slides {
  display: flex;
  width: 600%;
  height: 100%;
  transition: transform 0.5s ease;
  animation: rotacion 30s infinite;
}

.slide-2 {
  width: 60.666%;
  height: 100%;
  margin: 12px;
  background-position: center;
  background-size: cover;
  border: 2px solid #413e41;
}

.slide1 {
  background-image: url(../imagenes/slider/cliente1-pc.jpg);
}

.slide2 {
  background-image: url(../imagenes/slider/cliente2-pc.jpeg);
}

.slide3 {
  background-image: url(../imagenes/slider/cliente3-pc.jpeg);
}

.slide4 {
  background-image: url(../imagenes/slider/cliente4-pc.jpeg);
}

.slide5 {
  background-image: url(../imagenes/slider/cliente5-pc.jpg);
}

.slide6 {
  background-image: url(../imagenes/slider/cliente6-pc.png);
}

@media screen and (max-width:500px) {
  .slide1 {
    background-image: url(../imagenes/slider/cliente1-movil.jpeg);
  }

  .slide2 {
    background-image: url(../imagenes/slider/cliente2-movil.jpeg);
  }

  .slide3 {
    background-image: url(../imagenes/slider/cliente3-movil.jpeg);
  }

  .slide4 {
    background-image: url(../imagenes/slider/cliente4-movil.png);
  }

  .slide5 {
    background-image: url(../imagenes/slider/cliente5-movil.jpeg);
  }

  .slide6 {
    background-image: url(../imagenes/slider/cliente6-movil.jpg);
  }

}


@keyframes rotacion {
  0% {
    margin-left: 0;
  }

  17% {
    margin-left: 0;
  }

  18% {
    margin-left: -100%;
  }

  33% {
    margin-left: -100%;
  }

  34% {
    margin-left: -200%;
  }

  49% {
    margin-left: -200%;
  }

  50% {
    margin-left: -300%;
  }

  66% {
    margin-left: -300%;
  }

  67% {
    margin-left: -400%;
  }

  83% {
    margin-left: -400%;
  }

  84% {
    margin-left: -500%;
  }

  100% {
    margin-left: -500%;
  }
}